@model BudgetTracker.Models.BillDetailsViewModels.BillDetailsModel
@{
    ViewData["Title"] = "Transactions";
}

<form asp-action="Transactions">

    <div>
        <label asp-for="BillId" class="control-label">Bill Type</label>
         @Html.DropDownList("BillName", (IEnumerable<SelectListItem>)ViewData["BillMaterDdl"], new { @class = "form-control", style = "width:200px;display:inline; margin-top: 50px;margin-left: 100px;margin-bottom: 0px;"})
    </div>
    <div >
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" class="form-control" style="width:200px;display:inline; margin-top: 50px;margin-left: 100px;margin-bottom: 0px;" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div >
        <label asp-for="BillDate" class="control-label">Bill Date</label>
        <input asp-for="BillDate" class="form-control" style="width:200px;display:inline; margin-top: 50px;margin-left: 100px;margin-bottom: 0px;" />
        @*<span asp-validation-for="BillDate" class="text-danger"></span>*@
    </div>
    <div class="form-group"  style="margin-top: 50px">
        <input type="submit" value="Add" class="btn btn-default" style="width:100px;" />
    </div>
</form>
<div>
    <a asp-action="Index"><span class="glyphicon glyphicon-home"></span></a>
</div>
