@model IEnumerable<BudgetTracker.Models.LoginViewModels.UserDetailsModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Budget Tracker</h2>

<p>

</p>
<table class="table">
    <tr>
        <td>
            <div>
                New Users Register Here <br />
                <a asp-action="Register">Register</a>
            </div>
        </td>

        <td>
            Existing Users Login Here
            <a asp-action="Login">Login</a> |

        </td>
    </tr>

</table>
    @*https://www.flickr.com/photos/76657755@N04/7027596629/in/photostream/*@